div.css-12oz5g7.egzxvld2 {
  margin: 0%;
  padding: 0%;
  border-radius: 5px;
}

div.stNumberInput,
div.row-widget.stRadio {
  height: 100px;
}

div.css-1ou9a8q.e1jwn65y3 {
  width: 130px;
}

div.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-ak.st-eg.st-am.st-ba.st-an.st-ao.st-ap.st-aq.st-ar.st-as.st-eh.st-au.st-av.st-aw.st-ax.st-ay.st-bb.st-b0.st-b1.st-b2.st-b3.st-b4.st-b5.st-b6.st-b7 {
  position: 0;
}

div.row-widget.stButton {
  text-align: center;
}
